*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
/*===bootstrap=trash=====*/
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/*=======wbzx=style===========*/
main {
    min-height: 100vh;
}
.works-grid {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    grid-auto-rows: auto;
    grid-gap: 15px;
    justify-content: space-between;
}
.works-grid__item {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;
}
.works-grid__item > span {
    text-decoration: none;
    color: white;
}
.works-empty-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wbzx-sticky-footer {
    position: sticky;
    z-index: 3;
    bottom: 0;
}
header.header-page {
    width: 100%;
    position: sticky;
    top: 0;
    height: 78px;
    background-color: black;
    z-index: 3;
}
nav.header-page__menu {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid white;
}
nav.header-page__menu a {
    text-decoration: none;
    color: white;
}
.page {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    min-height: 100vh;
    background-color: black;
    color: green;
}
h1.page__home-title, h2.task-section__title {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    border-bottom: 1px solid white;
}
h2.task-section__title {
    font-size: 35px;
    border-bottom: 1px solid green;
    margin-bottom: 15px;
}
section.page__task-section {
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 20px;
}
section.page__task-section:nth-child(even) {
    background-color: #141313;
}
section.page__task-section:nth-child(odd) {
    background-color: transparent;
}
section.page__task-section:last-child {
    margin-bottom: 0;
}